@import 'style';

.video-list {
    padding-left: 0 !important;
}

.video-list-title {
    color: $primary-color;
    margin-bottom: 2%;
    text-shadow: $black-shadow;
    font-family: 'Faster One';
    font-size: 6vh;
    font-weight: 100;
    font-style: italic;
}

@media (max-width: 400px) {
    
    .video-list-title {
        text-align: center;
    }
}