.video-list {
    padding-left: 0 !important;
}

.video-list-title {
    color: orange;
    margin-bottom: 2%;
    text-shadow: black 3px 4px;
    font-family: 'Faster One';
    font-size: 6vh;
    font-weight: 100;
    font-style: italic;
}